* {
  color: #ffffff;
}

main {
  margin: 15px 7.5vw;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #ff5e00;
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* responsive queries for tightening things up for mobile. */

/* Phone */
@media screen and (max-width: 576px) {
  main {
    margin: 15px 0;
  }
  nav {
    padding: 10px 10px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  main {
    max-width: 900px;
    margin: 15px auto;
  }
  nav {
    padding: 10px 30px;
  }
}
